@using VolueEnergyTrader.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .data-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px; 
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<div cl
     ass="text-center">
    <h1 class="display-4">Welcome to the Volue Energy trading tables</h1>
    
    <!--Table of bids from the database  -->
    <table class ="data-table">
        <tr>
            <th>
                Table of bid results
            </th>
        </tr>
        <tr>
            @{
                var tableHeaderBidresult = ViewBag.BidresultList[0];
                var includeKeysList = new List<string> { "Id", "ExternalId", "Day", "DateOfLastChange", "Market", "Status", "Country" };
                foreach (var key in tableHeaderBidresult.GetType().GetProperties())
                {
                    if (includeKeysList.Contains(key.Name))
                    {
                        <th>@key.Name</th>
                    }
                    
                }
            }
        </tr>
        @{
            foreach (OutputBidPacketApiModel row in ViewBag.BidresultList)
            {
                <tr>
                    <td>@row.Id</td>
                    <td>@row.ExternalId</td>
                    <td>@row.Day</td>
                    <td>@row.DateOfLastChange</td>
                    <td>@row.Market</td>
                    <td>@row.Status</td>
                    <td>@row.Country</td>
                </tr>
            }
        }
    </table>
    
    
    <!--Table of Series  -->
    <table class ="data-table">
        <tr>
            <th>
                Table of Series 
            </th>
        </tr>
        <tr>
            @{
                var tableHeaderSeries = ViewBag.SeriesList[0];
                var includeHeaderList = new List<string> { "Id", "ExternalId", "CustomerId", "Status", "Direction", "Currency", "PriceArea", "AssetId", "Price", "StartInterval", "EndInterval", "OutputBidPacketApiModelID" };
                foreach (var keyHeader in tableHeaderSeries.GetType().GetProperties())
                {
                    if (includeHeaderList.Contains(keyHeader.Name))
                    {
                        <th>@keyHeader.Name</th>
                    }
                }
            }
        </tr>
        @{
            foreach (OutputBidApiModel row in ViewBag.SeriesList)
            {
                <tr>
                    <td>@row.Id</td>
                    <td>@row.ExternalId</td>
                    <td>@row.CustomerId</td>
                    <td>@row.Status</td>
                    <td>@row.Direction</td>
                    <td>@row.Currency</td>
                    <td>@row.PriceArea</td>
                    <td>@row.AssetId</td>
                    <td>@row.Price</td>
                    <td>@row.StartInterval</td>
                    <td>@row.EndInterval</td>
                    <td>@row.OutputBidPacketApiModelID</td>
                </tr>
            }
        }
    </table>

    <!--Table of Quantities for each series  -->
    <table class ="data-table">
        <tr>
            <th>
                Table of Quantities
            </th>
        </tr>
        <tr>
            @{
                <th>ID</th>
                <th>Output Bid ID</th>
                <th>Quantity</th>
            }
        </tr>
        @{
            foreach (Position row in ViewBag.PositionList)
            {
                <tr>
                    <td>@row.Id</td>
                    <td>@row.OutputBidApiModelID</td>
                    <td>@row.Quantity</td>
                    <td>
                        <form method="post" asp-action="IncrementQuantity" asp-controller="Home">
                            <input type="hidden" name="positionId" value="@row.Id"/>
                            <button type="submit">Increment Quantity</button>
                        </form>
                    </td>
                </tr>
                @Html.AntiForgeryToken()
            } 
        }
    </table>

    <table class ="data-table">
        <tr>
            <th>
                Table of Update history
            </th>
        </tr>
        <tr>
            @{
            <th>Update Time</th>
            <th>From status</th>
            <th>To Status</th>
            <th>Bid result id</th>
            }
        </tr>
        @{
        foreach (BidPacketHistoryApiModel row in ViewBag.UpdateHistoryList)
            {
                <tr>
                <td>@row.UpdateTime</td>
                <td>@row.ToStatus</td>
                <td>@row.ToStatus</td>
                <td>@row.OutputBidPacketApiModelID</td>
                </tr>
            }
        }
    </table>
    
</div>
